<h4><%= @message_pattern.source.name %></h4>
<h2>Editing message pattern</h2>

<%= render 'form' %>

<%= link_to 'Show', @message_pattern %> |
<%= link_to 'Back', source_message_patterns_path(@message_pattern.source) %>
